@model IEnumerable<Forum.WebApp.Models.UserVM>

@{
    if (!User.Identity.IsAuthenticated)
    {
        <i>Tylko zalogowany użytkownik może edytować swoje dane</i>
    }
}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Town)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Town)
                    </td>
                    <td>
                        @{
                            if (User.Identity.Name == item.UserName || User.IsInRole("admin"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.UserInfoId });
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
