@model Forum.WebApp.Models.PostListVM
<link rel="stylesheet" href="~/css/post.css" />

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    if (!User.Identity.IsAuthenticated)
    {
        <i>Tylko zalogowany użytkownik może dodać, zmodyfikować lub usunąć swój post</i>
    }
}
<h1>Liczba postów z ostatnich 7 dni: @Model.RecentPosts</h1>
@foreach (var item in Model.Posts)
{
    <div class="card card-custom">
        <h1>Title: @Html.DisplayFor(modelItem => item.Title)</h1>
        <h4>Author: @Html.DisplayFor(modelItem => item.Author)</h4>
        <p>Description: @Html.DisplayFor(modelItem => item.Description)</p>
        <p class="fw-bold">Date posted: @Html.DisplayFor(modelItem => item.DatePosted)</p>
        @Html.ActionLink("Comments", "", "Comment", new { id = item.Id })
        @if (User.Identity.Name == item.Author || User.IsInRole("admin"))
        {
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:
            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
        }
    </div>
}

