@model IEnumerable<Forum.WebApp.Models.CommentVM>

<p>
    <a asp-action="Create" asp-route-id="@ViewBag.PostId">Create New</a>
</p>
@{
    if (!User.Identity.IsAuthenticated)
    {
        <i>Tylko zalogowany użytkownik może dodać, zmodyfikować lub usunąć swój komentarz</i>
    }
}
<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.User)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Comment)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.User)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Comment)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateAdded)
                    </td>
                    <td>
                        @{
                            if (User.Identity.Name == item.User || User.IsInRole("admin"))
                            {

                                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) @:
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id });
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>